h1, h2, h3, h4, h5 {
  font-family: 'Amatic SC', cursive;
}

div {
  font-family: 'Josefin Slab', serif;
}

body {
  height: 100vh;
  padding-top: 70px;
  background: linear-gradient(to right bottom, grey, white);
}
