body {
  /* padding is used to prevent the navbar from covering up page content*/
  padding-top: 50px;
  background-color: #FFF2C5;
}

#cart img {
 max-width: 60px;
 position: absolute;
 top: 0%;
 right: 5%;
 border-radius: 100%;
}

#cart img{
 transition: 0.5s ease;
 -webkit-transition: 0.5s ease;
 -moz-transition: 0.5s ease;
}

/* This will control the cart image when someone hovers over it with their mouse*/
#cart img:hover{
  -webkit-transform: scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
  -webkit-opacity: 1;
  -moz-opacity: 1;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 15vw;
  background: #363636;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.categoryLinks {
  /*padding adds space between each of the category links*/
  padding-top: 2em;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #E8E8E8;
  font-size: 20px;
}

.product-boxes {
  width: 70vh;
}
