body {
  /* padding is used to prevent the navbar from covering up page content*/
  padding-top: 50px;
  background-color: #27363B;
}

#cart  {
 max-width: 100px;
 position: absolute;
 top: 0%;
 right: 5%;
 border-radius: 100%;
 color: red;
 font-size: 1.5em;
}

#cart {
 transition: 0.5s ease;
 -webkit-transition: 0.5s ease;
 -moz-transition: 0.5s ease;
}

/* This will control the cart image when someone hovers over it with their mouse*/
#cart:hover{
  -webkit-transform: scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
  -webkit-opacity: 1;
  -moz-opacity: 1;
}

#wrapper {
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  padding-left: 1em;
  margin-left: -250px;
  left: 250px;
  width: 15vw;
  background: #FCCEAA;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 50%;
}

.categoryLinks {
  /*padding adds space between each of the category links*/
  padding-top: 2em;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #27363B;
  font-size: 20px;
}

.product-boxes {
  width: 100%;
  align-content: center;
}

#single-product {
  width: 50%
}

