body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  color: black;
}

#app, #main {
  width: inherit;
  height: inherit;
}

#navbar {
  position: fixed;
  height: 55px;
  z-index: 1;
  width: inherit;
  top: 0px;
  left: 0px;
}

.thumbnail {
  display: inline-block;
}

.content {
  min-height: calc(100vh - 55px);
  top: 55px;
  padding-top: 2em;
}

/* Review List */
/* Note: Change star font-size */

#reviews {
  padding-top: 20px;
}

.reviews-header * {
  display: inline;
}

.reviews-rating {
  float: right;
  font-size: 30px;
}

.review > p {
  margin: 0;
}